#textdomain wesnoth-Mystery_Campaign

#define XE_ABILITY_INITIATIVE
    [ability_initiative]
        id=XE initiative
        name= _ "initiative"
        description= _ "All adjacent friendly units will strike first in melee combat, even when defending."
    [/ability_initiative]
#enddef

#define XE_ABILITY_INITIATIVE_EVENT
    [event]
        id=give_initiative
        name=attack
        first_time_only=no

        [filter_second_attack]
            range=melee
        [/filter_second_attack]

        [filter_second]
            [filter_adjacent]
                ability=XE initiative
                is_enemy=no
            [/filter_adjacent]
        [/filter_second]

        {FOREACH second_unit.attack i_temp}
            [if]
                {VARIABLE_CONDITIONAL second_unit.attack[$i_temp].range equals melee}
                [then]
                    [set_variables]
                        name=second_unit.attack[$i_temp].specials.firststrike
                        mode=append
                        [value]
                            id=initiative
                        [/value]
                    [/set_variables]
                [/then]
            [/if]
        {NEXT i_temp}

        [unstore_unit]
            variable=second_unit
        [/unstore_unit]

        [event]
            name=attack end
            delayed_variable_substitution=no

            {FOREACH second_unit.attack i_temp}
                {FOREACH second_unit.attack[$i_temp].specials.firststrike j_temp}
                    [if]
                        {VARIABLE_CONDITIONAL second_unit.attack[$i_temp].specials.firststrike[$j_temp].id equals initiative}
                        [then]
                            {CLEAR_VARIABLE second_unit.attack[$i_temp].specials.firststrike[$j_temp]}
                        [/then]
                    [/if]
                {NEXT j_temp}
            {NEXT i_temp}

            [unstore_unit]
                variable=second_unit
            [/unstore_unit]
        [/event]
    [/event]
#enddef

#define XE_ABILITY_DISTRACT
    [skirmisher]
        id=XE distract
        name= _ "distract"
        description= _ "This unit negates enemy Zones of Control around itself for allied units (but not for itself)."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    ability=XE distract
                    [or]
                        ability=skirmisher
                    [/or]
                [/not]
            [/filter]
        [/affect_adjacent]
    [/skirmisher]
#enddef

#define XE_ABILITY_INSPIRE
    [leadership]
        id=XE inspire
        value=25
        cumulative=no
        name= _ "inspire"
        description= _ "This unit can inspire *allied* units that are next to it, making them do 25% more damage per level difference."
        affect_self=no
        affect_allies=yes
        [filter]
            level=1
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE inspire
        value=50
        cumulative=no
        affect_self=no
        affect_allies=yes
        [filter]
            level=2
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE inspire
        value=25
        cumulative=no
        affect_self=no
        affect_allies=yes
        [filter]
            level=2
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE inspire
        value=75
        cumulative=no
        affect_self=no
        affect_allies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE inspire
        value=50
        cumulative=no
        affect_self=no
        affect_allies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE inspire
        value=25
        cumulative=no
        affect_self=no
        affect_allies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define XE_WEAPON_SPECIAL_FEROCIOUS
    # same as marksman but with proper name
    [chance_to_hit]
        id=XE ferocious
        name= _ "ferocious"
        name_inactive= _ "ferocious"
        description= _ "This unit battles with such vigor that it always has at least a 60% chance to hit."
        description_inactive= _ "This unit battles with such vigor that it always has at least a 60% chance to hit."
        value=60
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef

#define XE_ABILITY_PROTECTION
    [resistance]
        id=XE protection
        add=20
        max_value=50
        #apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "protection"
        description= _ "Adjacent units will receive a +20% bonus to all resistances (up to a maximum of 50%)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
        [filter_base_value]
            less_than=50
        [/filter_base_value]
    [/resistance]
#enddef

#define XE_ABILITY_TERROR
    [leadership]
        id=XE terror
        value=-40
        cumulative=no
        name= _ "terror"
        description= _ "This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When a unit of lower level is adjacent to, and is an enemy of the unit with Terror engages in combat, its attacks do 10% less damage times the difference in their levels."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE terror
        value=-20
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=XE terror
        value=-10
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [filter]
            level=3
        [/filter]
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define XE_ABILITY_DARKENS
    [illuminates]
        id=XE darkens
        value=-25
        min_value=-25
        # no max_value (otherwise chaotic units would do > 25% dmg at night)
        cumulative=no
        name= _ "darkens"
        female_name= _ "female^darkens"
        description= _ "This unit deluminates the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dawn when it is day and as if it is night during twilight."
        affect_self=yes
        affect_allies=yes
        affect_enemies=yes
    [/illuminates]
#enddef

#define XE_ABILITY_CAVESTALK
    [hides]
        name= _ "cavestalk"
        description= _ "This unit can hide in shadow caves, and remain undetected by its enemies.

Enemy units cannot see or attack this unit when it is in caves, except for any turn immediately after this unit has attacked, or if there are enemy units next to this unit."
        name_inactive= _ "cavestalk"
        description_inactive= _ "This unit can hide in shadow caves, and remain undetected by its enemies.

Enemy units cannot see or attack this unit when it is in caves, except for any turn immediately after this unit has attacked, or if there are enemy units next to this unit."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=U*^*,*^Uf*
                [not]
                    time_of_day=lawful
                [/not]
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define XE_ABILITY_LURKER
    [hides]
        id=XE lurker
        name= _ "lurker"
        description= _ "This unit can remain undetected in deep water, waiting until their unwared prey moves adjacent at which point it will be hit with a single strike"
        affect_self=yes
        alert= _ "Surprise!"
        [filter]
            [filter_location]
                terrain=Wo*^*
            [/filter_location]
        [/filter]
    [/hides]
[/abilities]
[event]
    id=surprised_by_lurker
    name=moveto
    first_time_only=no

    [filter]
        [filter_location]
            [filter_adjacent_location]
                [filter]
                    ability=XE lurker
                    [filter_wml]
                        [status]
                            uncovered=yes
                        [/status]
                    [/filter_wml]
                    [not]
                        [filter_side]
                            [allied_with]
                                side=$unit.side
                            [/allied_with]
                        [/filter_side]
                    [/not]
                    [filter_location]
                        terrain=Wo*^*
                    [/filter_location]
                [/filter]
            [/filter_adjacent_location]
        [/filter_location]
    [/filter]

    [harm_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        [filter_second]
            ability=XE lurker
            [filter_adjacent]
                x,y=$x1,$y1
                is_enemy=yes
            [/filter_adjacent]
        [/filter_second]
        amount=9
        damage_type=pierce
        range=ranged
        animate=yes
        fire_event=yes
        experience=yes
    [/harm_unit]

    [modify_unit]
        [filter]
            ability=XE lurker
            [filter_adjacent]
                x,y=$x1,$y1
                is_enemy=yes
            [/filter_adjacent]
        [/filter]
        [status]
            uncovered=no
        [/status]
    [/modify_unit]
[/event]
[+abilities]
#enddef

# wmllint: unbalanced-on
#define XE_ABILITY_BLITZ
    [ability_blitz]
        id=XE blitz
        name= _ "blitz"
        name_inactive= _ "blitz"
        description= _ "Allies that start their turn adjacent to this unit are granted Skirmisher for that turn."
        description_inactive= _ "Allies that start their turn adjacent to this unit are granted Skirmisher for that turn."
        affect_self=no
        affect_allies=yes
    [/ability_blitz]
[/abilities]
[event]
    name=turn refresh
    first_time_only=no

    [store_unit]
        [filter]
            side=$side_number
            [and]
                [filter_adjacent]
                    ability=XE blitz
                    is_enemy=no
                [/filter_adjacent]
            [/and]
            [not]
                ability=skirmisher
            [/not]
        [/filter]
        variable=blitzed
    [/store_unit]

    {FOREACH blitzed i_temp}
        [set_variables]
            name=blitzed[$i_temp].abilities
            mode=append
            [value]
                {ABILITY_SKIRMISHER}
            [/value]
        [/set_variables]

        [set_variable]
            name=blitzed[$i_temp].status.blitzed
            value=yes
        [/set_variable]

        [unstore_unit]
            variable=blitzed[$i_temp]
            find_vacant=no
        [/unstore_unit]
    {NEXT i_temp}

    {CLEAR_VARIABLE blitzed}
    [redraw][/redraw]
[/event]

[event]
    name=side turn end,time over,enemies defeated,defeat,victory
    first_time_only=no

    [store_unit]
        [filter]
            [filter_wml]
                [status]
                    blitzed=yes
                [/status]
            [/filter_wml]
        [/filter]
        variable=blitzed
    [/store_unit]

    {FOREACH blitzed i_temp}
        {FOREACH blitzed[$i_temp].abilities.skirmisher j_temp}
            [if]
                # this is to prevent that distract or similar gets removed
                [variable]
                    name=blitzed[$i_temp].abilities.skirmisher[$j_temp].id
                    equals="skirmisher"
                [/variable]
                [then]
                    [clear_variable]
                        name=blitzed[$i_temp].abilities.skirmisher[$j_temp]
                    [/clear_variable]

                    [set_variable]
                        name=j_temp
                        sub=1
                    [/set_variable]
                [/then]
            [/if]
        {NEXT j_temp}

        [clear_variable]
            name=blitzed[$i_temp].status.blitzed
        [/clear_variable]

        [unstore_unit]
            variable=blitzed[$i_temp]
            find_vacant=no
        [/unstore_unit]
    {NEXT i_temp}

    {CLEAR_VARIABLE blitzed}
    [redraw][/redraw]
[/event]
[+abilities]
#enddef
