#textdomain wesnoth-Mystery_Campaign

## Mystery_Campaign.cfg

[textdomain]
    name=wesnoth-Mystery_Campaign
    path=data/add-ons/Mystery_Campaign/translations
[/textdomain]

[binary_path]
    path=data/add-ons/Mystery_Campaign/external_binary_data/
[/binary_path]

[campaign]
    abbrev=_ "MC"
    icon="items/ball-blue.png"
    image="MC_campaign_image.png"
    name= _ "Mystery Campaign"
    first_scenario=mystery_scenario
    #textdomain wesnoth
    difficulties=EASY,NORMAL,HARD
    #textdomain wesnoth-Mystery_Campaign
    difficulty_descriptions={MENU_IMG_TXT2 "pillager-beastie1.png"  (_"Skirmisher")  (_"(Easy)")} +
    ";*" + {MENU_IMG_TXT2  "pillager-beastie2.png"  (_"Battle Tutor")  (_"(Not so easy)")} +
    ";" + {MENU_IMG_TXT2  "pillager-beastie3.png" (_"Veteran") ( _"(Nightmare)")}
    define=CAMPAIGN_MYSTERY
    extra_defines=ENABLE_DWARVISH_ARCANISTER,ENABLE_ARMAGEDDON_DRAKE,ENABLE_DEATH_KNIGHT
    description= _ "This is an infinitely long, random, campaign. As you play, it gets increasing difficult in various ways. How many scenarios can you complete?"

    [about]
        title= _ "Campaign Designer"
        text=_ "Josh Parsons/jp30"
    [/about]
    [about]
        title= _ "Previous Maintainer"
        text=_ "zaimoni"
    [/about]
    [about]
        title= _ "Current Maintainer"
        text=_ "trewe"
    [/about]
    [about]
        title= _ "Miscellaneous"
        text=_ "Patched by: ott, ivanovic, szopen"
    [/about]
[/campaign]

#ifdef CAMPAIGN_MYSTERY
[binary_path]
    path=data/add-ons/Mystery_Campaign
[/binary_path]
[binary_path]
    path=data/campaigns/The_Rise_Of_Wesnoth
[/binary_path]

#define FACTIONS
    {~add-ons/Mystery_Campaign/factions}
#enddef

#define FACTIONS_CONFIG
    {~add-ons/Mystery_Campaign/utils/factions_config.cfg}
#enddef

{~add-ons/Mystery_Campaign/utils}
{~add-ons/Mystery_Campaign/utils/scenarios}
{~add-ons/Mystery_Campaign/scenarios}

## set up units
[+units]
    {~add-ons/Mystery_Campaign/units}
[/units]
#endif
