#textdomain wesnoth-multiplayer

#define RANDOM_MAP_SUMMER
    [generator]
        border_size=0
        map_width=32
        map_height=28
        iterations=2000
        hill_size=3
        max_lakes=30
        villages=16
        players=2
        min_lake_height=25
        lake_size=125
        river_frequency=400
        island_size=1
        castle_size=7

        temperature_iterations=6000
        temperature_size=6

        roads=12
        road_windiness=8

        [height]
            height=900
            terrain=Mm^Xm
        [/height]
        [height]
            height=700
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hh
        [/height]
        [height]
            height=150
            terrain=Gg
        [/height]
        [height]
            height=100
            terrain=Re
        [/height]
        [height]
            height=50
            terrain=Ds
        [/height]
        [height]
            height=1
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wot
        [/height]

        # there exists 4 different grass types - split the grass between them
        # savanah
        [convert]
            min_temperature=200
            max_temperature=500
            max_height=300
            from=Gg
            to=Gs
        [/convert]
        # dry
        [convert]
            min_temperature=500
            max_temperature=700
            max_height=300
            from=Gg
            to=Gd
        [/convert]
        # burned
        [convert]
            min_temperature=700
            min_height=100
            max_height=300
            from=Gg
            to=Gll
        [/convert]
        # generate swamp, tropical water, reefs and inland deep water
        # swamp apears from moderate temperatures
        [convert]
            min_temperature=200
            max_temperature=300
            min_height=50
            max_height=75
            from=Ww
            to=Ss
        [/convert]
        [convert]
            min_temperature=200
            max_temperature=300
            max_height=150
            from=Gg, Gs, Gd
            to=Ss
        [/convert]
        [convert]
            min_temperature=200
            max_temperature=300
            min_height=55
            max_height=75
            from=Re, Gll
            to=Sm
        [/convert]
        # at hight temperatures change water to tropical
        [convert]
            min_temperature=500
            max_temperature=700
            from=Ww
            to=Wwt
        [/convert]
        # at extreme temperatures reef appear
        [convert]
            min_temperature=700
            from=Ww, Wo
            to=Wwr
        [/convert]
        # some paths of deep water
        [convert]
            min_temperature=25
            max_temperature=50
            min_height=15
            from=Ww
            to=Wo
        [/convert]

        # the frozen part - at low temperatures snow appears
        [convert]
            min_height=5
            max_temperature=25
            from=Ww, Wwt, Wo, Wot, Re
            to=Ai
        [/convert]
        [convert]
            max_temperature=50
            from=Gg, Gs, Gd, Gs, Ds, Gll, Gs
            to=Aa
        [/convert]
        [convert]
            max_temperature=75
            from=Hh, Hhd, Hd
            to=Ha
        [/convert]
        [convert]
            max_temperature=100
            from=Mm, Mm^Xm
            to=Ms
        [/convert]

        # Desert - begins to spead at hight temperatures
        # sand
        [convert]
            min_temperature=700
            from=Gg, Gs, Gd, Gll
            to=Ds
        [/convert]
        # desert
        [convert]
            min_temperature=600
            from=Ds, Re
            to=Dd
        [/convert]
        # dunes
        [convert]
            min_temperature=600
            min_height=400
            from=Ds, Hh, Dd, Mm
            to=Hd
        [/convert]
        # dry hills
        [convert]
            min_temperature=500
            max_temperature=600
            from=Hh
            to=Hhd
        [/convert]

        # Lava - at extreme temperatures lava and volcanos appear
        [convert]
            min_temperature=800
            from=Mm^Xm
            to=Ql
        [/convert]
        [convert]
            min_temperature=800
            from=Mm
            to=Qv
        [/convert]

        # forest appear at moderate temperatures (bush-mix-pine)
        # on Flat
        [convert]
            min_temperature=350
            max_temperature=450
            min_height=25
            from=Gg, Gs, Gd, Re
            to=Gs^Fp
        [/convert]
        [convert]
            min_temperature=450
            max_temperature=475
            from=Gg, Gs, Gd, Re
            to=Gs^Fms
        [/convert]
        [convert]
            min_temperature=475
            max_temperature=575
            min_height=50
            from=Gg, Gs, Gd, Re
            to=Gs^Fds
        [/convert]
        # on hills/mountains
        [convert]
            min_temperature=375
            max_temperature=450
            max_height=550
            from=Hh
            to=Hh^Fms
        [/convert]
        [convert]
            min_temperature=375
            max_temperature=450
            min_height=550
            max_height=575
            from=Hh, Hhd, Mm
            to=Hh^Fds
        [/convert]
        [convert]
            min_temperature=375
            max_temperature=450
            max_height=725
            from=Hh, Hhd, Mm
            to=Hh^Fp
        [/convert]
        # tropical forest grows at moderate hight temperatures
        [convert]
            min_temperature=500
            max_temperature=550
            max_height=100
            from=Gs, Re, Gd, Gg
            to=Gd^Ft
        [/convert]
        [convert]
            min_temperature=500
            max_temperature=550
            min_height=25
            max_height=75
            from=Ds, Dd
            to=Ds^Ft
        [/convert]
        # mushrooms appear at hight temperatures and elevation
        [convert]
            min_temperature=650
            min_height=300
            from=Gg, Gs, Gd, Gll, Gs^Fds, Gs^Fms, Gs^Fp
            to=Gd^Uf
        [/convert]
        [convert]
            min_temperature=550
            from=Hh, Hd, Hhd, Hh^Fmf, Hh^Fdf, Hh^Fmw
            to=Hhd^Uf
        [/convert]

        #fungus appears at hight temperatures
        [convert]
            min_temperature=600
            max_temperature=700
            min_height=300
            from=Gg, Gs, Gd, Re, Gll
            to=Gs^Em
        [/convert]
        [convert]
            min_temperature=600
            max_temperature=700
            from=Hh, Hhd, Hd
            to=Hh^Em
        [/convert]
        # flowers appear at lower temperature and elevation
        [convert]
            min_temperature=200
            max_temperature=300
            max_height=300
            from=Gd, Gg, Gs, Gs^Fp, Gs^Fds, Gs^Fms
            to=Gg^Efm
        [/convert]
        # stones
        [convert]
            min_height=50
            from=Ai
            to=Ai^Es
        [/convert]
        [convert]
            min_height=100
            from=Aa
            to=Aa^Es
        [/convert]
        # camp
        [convert]
            max_height=400
            min_temperature=100
            max_temperature=200
            from=Gg, Gs, Gd, Gll
            to=Re^Gvs
        [/convert]

        # throught flat (easy build)
        [road_cost]
            terrain=Re
            cost=5
            convert_to=Rb
        [/road_cost]
        [road_cost]
            terrain=Gg
            cost=10
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Gs
            cost=10
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Gd
            cost=10
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Gll
            cost=10
            convert_to=Rr
        [/road_cost]

        # throught forest (tricky)
        [road_cost]
            terrain=Gs^Fp
            cost=20
            convert_to=Rp
        [/road_cost]
        [road_cost]
            terrain=Gs^Fms
            cost=25
            convert_to=Rp
        [/road_cost]
        [road_cost]
            terrain=Gs^Fds
            cost=30
            convert_to=Rp
        [/road_cost]

        # throught rought terrain (difficult)
        [road_cost]
            terrain=Hh
            cost=30
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Hhd
            cost=30
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Mm
            cost=50
            convert_to=Rr
        [/road_cost]

        # in the desert
        [road_cost]
            terrain=Dd
            cost=25
            convert_to=Rb
        [/road_cost]
        [road_cost]
            terrain=Ds
            cost=35
            convert_to=Rb
        [/road_cost]
        [road_cost]
            terrain=Hd
            cost=45
            convert_to=Rb
        [/road_cost]

        # over water (easier)
        [road_cost]
            terrain=Ww
            cost=30
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Ce
        [/road_cost]
        [road_cost]
            terrain=Wwt
            cost=40
            convert_to_bridge=Wwt^Bw|, Wwt^Bw/, Wwt^Bw\
            convert_to=Wwf
        [/road_cost]
        [road_cost]
            terrain=Wo
            cost=50
            convert_to_bridge=Wo^Bw|, Wo^Bw/, Wo^Bw\
            convert_to=Sm
        [/road_cost]
        # over swamp (tricky)
        [road_cost]
            terrain=Ss
            cost=40
            convert_to_bridge=Ss^Bw|, Ss^Bw/, Ss^Bw\
            convert_to=Co
        [/road_cost]
        # lava (difficult)
        [road_cost]
            terrain=Ql
            cost=60
            convert_to_bridge=Ql^Bs|, Ql^Bs/, Ql^Bs\
            convert_to=Cud
        [/road_cost]

        [road_cost]
            terrain=Mm^Xm
            cost=80
            convert_to=Qxu^Bs|, Qxu^Bs/, Qxu^Bs\
            convert_to=Khr
        [/road_cost]

        {MIN_COST_ROAD Rr}
        {MIN_COST_ROAD Re}
        {MIN_COST_ROAD Rp}
        {MIN_COST_ROAD Rb}
        {MIN_COST_ROAD Ww^Bw|}
        {MIN_COST_ROAD Ww^Bw/}
        {MIN_COST_ROAD Ww^Bw\}
        {MIN_COST_ROAD Wo^Bw|}
        {MIN_COST_ROAD Wo^Bw/}
        {MIN_COST_ROAD Wo^Bw\}
        {MIN_COST_ROAD Ss^Bw|}
        {MIN_COST_ROAD Ss^Bw/}
        {MIN_COST_ROAD Ss^Bw\}
        {MIN_COST_ROAD Ql^Bs|}
        {MIN_COST_ROAD Ql^Bs/}
        {MIN_COST_ROAD Ql^Bs\}
        {MIN_COST_ROAD Qxu^Bs|}
        {MIN_COST_ROAD Qxu^Bs/}
        {MIN_COST_ROAD Qxu^Bs\}
        {MIN_COST_ROAD Ce}
        {MIN_COST_ROAD Co}
        {MIN_COST_ROAD Cud}
        {MIN_COST_ROAD Wwf}
        {MIN_COST_ROAD Sm}

        # human types
        # grass
        [village]
            terrain=Gg
            convert_to=Gg^Vl
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd
            rating=8
        [/village]
        # dry grass
        [village]
            terrain=Gd
            convert_to=Gd^Vc
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd
            rating=6
        [/village]
        # savanah
        [village]
            terrain=Gs
            convert_to=Gs^Vht
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd
            rating=7
        [/village]
        # dry grass
        [village]
            terrain=Gll
            convert_to=Gll^Vh
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Gll
            rating=4
        [/village]
        # on the hils
        # normal
        [village]
            terrain=Hh
            convert_to=Hh^Vo
            rating=7
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Hh^Fp, Hh^Fds, Hh^Fms, Mm
        [/village]
        # dry
        [village]
            terrain=Hhd
            convert_to=Hhd^Vu
            rating=6
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Hh^Fp, Hh^Fds, Hh^Fms, Mm
        [/village]
        # desert
        [village]
            terrain=Hd
            convert_to=Hh^Vda
            rating=5
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Hh^Fp, Hh^Fds, Hh^Fms, Ds
        [/village]
        # mountains
        [village]
            terrain=Mm
            convert_to=Mm^Vca
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Hh^Fp, Hh^Fds, Hh^Fms, Mm
        [/village]
        # on frozen
        # snow
        [village]
            terrain=Aa
            convert_to=Aa^Vca
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Aa, Ai, Ha, Ms, Hhd, Mm
        [/village]
        # on ice
        [village]
            terrain=Ai
            convert_to=Ai^Vhca
            rating=2
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Aa, Ai, Ha, Ms, Hhd, Mm
        [/village]
        # snowy hills
        [village]
            terrain=Ha
            convert_to=Ha^Vhha
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Aa, Ai, Ha, Ms, Hhd, Mm
        [/village]
        # frozen mountains
        [village]
            terrain=Ms
            convert_to=Ms^Vca
            rating=2
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Aa, Ai, Ha, Ms, Hhd, Mm
        [/village]
        # forest's
        # pine
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=5
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fp, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Ss, Ss
        [/village]
        # bush
        [village]
            terrain=Gs^Fds
            convert_to=Gs^Vct
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fds, Gs^Fds, Gs^Fms, Gs, Gd, Hhd, Ss, Ss
        [/village]
        # water/swamp/desert
        # swamp
        [village]
            terrain=Ss
            convert_to=Ss^Vm
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ss^Bw|, Ss^Bw/, Ss^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Ss, Ss, Sm, Sm, Sm
        [/village]
        [village]
            terrain=Sm
            convert_to=Sm^Vhs
            rating=2
            adjacent_liked=Gg, Ww, Ww, Ww, Ss^Bw|, Ss^Bw/, Ss^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Gs, Gd, Gll, Ss, Ss, Sm, Sm, Sm
        [/village]
        # mermen
        [village]
            terrain=Ww
            convert_to=Ww^Vm
            rating=1
            adjacent_liked=Ww, Ww, Wwr, Wwr, Wwt, Wwf
        [/village]
        # sand
        [village]
            terrain=Ds
            convert_to=Dd^Vdt
            rating=3
            adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Dd, Dd, Hhd, Ds, Gd, Gll, Re, Re
        [/village]
        # desert
        [village]
            terrain=Dd
            convert_to=Dd^Do
            rating=2
            adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Rb, Rb, Hh, Gs^Fp, Gs^Fds, Gs^Fms, Dd, Dd, Hhd, Ds, Gd, Gll, Re, Ss
        [/village]
        # dirt
        [village]
            terrain=Re
            convert_to=Rrc^Vd
            rating=5
            adjacent_liked=Ww, Ww, Ww, Ww, Ww, Ww, Rr, Rr, Rb, Rb, Gs, Gd, Gg, Gll, Ds, Dd, Re
        [/village]

        [castle]
            valid_terrain=Re, Gg, Gg, Gs, Gd, Gll, Gg^Fp, Gs^Fds, Gs^Fms, Hh, Hhd, Hh^Fp, Hh^Fds, Hh^Fms, Gg^Efm, Gg^Em, Ss
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]
#enddef
