#textdomain wesnoth-Mystery_Campaign

[unit_type]
    id=EE Naga Longbowman
    name= _ "Naga Longbowman"
    race=naga
    image="units/nagas/longbowman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/naga-with-bow.png"
    hitpoints=42
    movement_type=naga
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=swimmer
    cost=36
    usage=swimmer
    description=""+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound=naga-die.ogg
    {DEFENSE_ANIM units/nagas/longbowman-defend.png units/nagas/longbowman-defend.png {SOUND_LIST:NAGA_HIT} }
    {DEFENSE_ANIM_RANGE units/nagas/longbowman-defend.png units/nagas/longbowman-defend.png {SOUND_LIST:NAGA_HIT} melee }

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=9
        number=2
        icon=attacks/sword-orcish.png
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=9
        number=4
        icon=attacks/bow-orcish.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/nagas/longbowman-attack-melee-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-150
                end=-100
                image="units/nagas/longbowman-attack-melee-2.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-150
                end=-100
                image="units/nagas/longbowman-attack-melee-2.png"
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/nagas/longbowman-attack-melee-3.png"
        [/frame]
        [frame]
            begin=0
            end=150
            image="units/nagas/longbowman-attack-melee-4.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/nagas/longbowman-attack-melee-1.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-420
            end=-350
            image=units/nagas/longbowman-attack-ranged-1.png
        [/frame]
        [frame]
            begin=-350
            end=-280
            image=units/nagas/longbowman-attack-ranged-2.png
        [/frame]
        [frame]
            begin=-280
            end=-140
            image=units/nagas/longbowman-attack-ranged-3.png
        [/frame]
        [frame]
            begin=-140
            end=-70
            image=units/nagas/longbowman-attack-ranged-4.png
        [/frame]
        [frame]
            begin=-70
            end=0
            image=units/nagas/longbowman-attack-ranged-5.png
        [/frame]
        [frame]
            begin=0
            end=70
            image=units/nagas/longbowman-attack-ranged-6.png
        [/frame]
    [/attack_anim]
[/unit_type]
