#textdomain wesnoth-Mystery_Campaign

# #textdomain wesnoth-multiplayer
# {INIT_FACTION khalifate (_"Khalifate")}
# # wmlindent: start ignoring
# 	#textdomain wesnoth-units
# 	{ALLOW_RECRUIT (Falcon,Jundi,Arif,Rami) (_ "Falcon", _ "Jundi", _ "Arif", _ "Rami")}
# 	{ALLOW_RECRUIT_PLAYER (Khaiyal,Hakim,Naffat) (_"Khaiyal", _"Hakim", _"Naffat")}
# 	#{ALLOW_RECRUIT_PLAYER (Giant Rat) (_"Giant Rat")}
# 
# 	{ALLOW_EXTRA_RECRUIT 10 (Water Serpent) (_ "Water Serpent")}
# 	{ALLOW_EXTRA_RECRUIT 30 (Hakim) (_ "Hakim")}
# 	{ALLOW_EXTRA_RECRUIT 50 (Naffat) (_ "Naffat")}
# 	{ALLOW_EXTRA_RECRUIT 40 (Khaiyal) (_ "Khaiyal")}
# 
# 	{ALLOW_EXTRA_RECRUIT 80 (Mudafi) (_"Mudafi")}
# 	{ALLOW_EXTRA_RECRUIT 40 (Ghazi) (_"Ghazi")}
# 	{ALLOW_EXTRA_RECRUIT 90 (Muharib) (_"Muharib")}
# 	{ALLOW_EXTRA_RECRUIT 30 (Monawish) (_"Monawish")}
# 	{ALLOW_EXTRA_RECRUIT 70 (Elder Falcon) (_"Elder Falcon")}
# 	{ALLOW_EXTRA_RECRUIT 40 (Qatif_al_nar) (_"Qatif-al-nar")}
# 	{ALLOW_EXTRA_RECRUIT 50 (Qanas) (_"Qanas")}
# 	{ALLOW_EXTRA_RECRUIT 30 (Faris) (_"Faris")}
# 	{ALLOW_EXTRA_RECRUIT 20 (Saree) (_"Saree")}
# 
# 	{ALLOW_EXTRA_RECRUIT 60 (Rasikh) (_"Rasikh")}
# 	{ALLOW_EXTRA_RECRUIT 80 (Shuja) (_"Shuja")}
# 	{ALLOW_EXTRA_RECRUIT 80 (Batal) (_"Batal")}
# 
# 	{FACTION_PLAYER_LEADER (Arif)}
# 	{FACTION_RANDOM_LEADER (Muharib,Ghazi,Mudafi,Monawish,Tabib) (Rasikh,Shuja,Batal,Tineen)}
# # wmlindent: stop ignoring
# {END}
