#textdomain wesnoth-Mystery_Campaign

#textdomain wesnoth-multiplayer
{INIT_FACTION loyalists (_"Loyalists")}
# wmlindent: start ignoring
	#textdomain wesnoth-units
	{ALLOW_RECRUIT (Cavalryman,Spearman,Bowman,Merman Fighter) (_ "Cavalryman", _ "Spearman", _ "Bowman", _ "Merman Fighter")}
	{ALLOW_RECRUIT_PLAYER (Mage,Heavy Infantryman,Fencer,Horseman) (_ "Mage", _ "Heavy Infantryman", _ "Fencer", _ "Horseman")}

	{ALLOW_EXTRA_RECRUIT 50 (Heavy Infantryman) (_ "Heavy Infantryman")}
	{ALLOW_EXTRA_RECRUIT 30 (Fencer) (_ "Fencer")}
	{ALLOW_EXTRA_RECRUIT 50 (Horseman) (_ "Horseman")}

	{ALLOW_EXTRA_RECRUIT 30 (Javelineer) (_"Javelineer")}
	{ALLOW_EXTRA_RECRUIT 50 (Ogre) (_"Ogre")}
	{ALLOW_EXTRA_RECRUIT 40 (Red Mage) (_"Red Mage")}
	{ALLOW_EXTRA_RECRUIT 40 (White Mage) (_"White Mage")}
	{ALLOW_EXTRA_RECRUIT 30 (Duelist) (_"Duelist")}
	{ALLOW_EXTRA_RECRUIT 20 (Dragoon) (_"Dragoon")}
	{ALLOW_EXTRA_RECRUIT 50 (Knight) (_"Knight")}
	{ALLOW_EXTRA_RECRUIT 80 (Swordsman) (_"Swordsman")}
	{ALLOW_EXTRA_RECRUIT 50 (Shock Trooper) (_"Shock Trooper")}
	{ALLOW_EXTRA_RECRUIT 60 (Longbowman) (_"Longbowman")}
	{ALLOW_EXTRA_RECRUIT 60 (Pikeman) (_"Pikeman")}
	{ALLOW_EXTRA_RECRUIT 30 (Lancer) (_"Lancer")}
	{ALLOW_EXTRA_RECRUIT 10 (Cavalier) (_"Cavalier")}
	{ALLOW_EXTRA_RECRUIT 40 (Paladin) (_"Paladin")}
	{ALLOW_EXTRA_RECRUIT 50 (Royal Guard) (_"Royal Guard")}
	{ALLOW_EXTRA_RECRUIT 40 (Iron Mauler) (_"Iron Mauler")}
	{ALLOW_EXTRA_RECRUIT 20 (Halberdier) (_"Halberdier")}
	{ALLOW_EXTRA_RECRUIT 40 (Grand Knight) (_"Grand Knight")}
	{ALLOW_EXTRA_RECRUIT 40 (Arch Mage) (_"Arch Mage")}
	{ALLOW_EXTRA_RECRUIT 40 (Silver Mage) (_"Silver Mage")}
	{ALLOW_EXTRA_RECRUIT 80 (Merman Triton) (_"Merman Triton")}
	{ALLOW_EXTRA_RECRUIT 60 (Great Mage) (_"Great Mage")}

	{FACTION_PLAYER_LEADER (Sergeant)}
	{FACTION_RANDOM_LEADER (Lieutenant,Swordsman,Shock Trooper,Longbowman,White Mage,Princess) (General,Royal Guard,Halberdier,Master Bowman,Arch Mage,Silver Mage,Battle Princess)}
# wmlindent: stop ignoring
{END}
