#textdomain wesnoth-Mystery_Campaign

#textdomain wesnoth-multiplayer
{INIT_FACTION undead (_"Undead")}
# wmlindent: start ignoring
	#textdomain wesnoth-units
	{ALLOW_RECRUIT (Walking Corpse,Vampire Bat) (_ "Walking Corpse", _ "Vampire Bat")}
	{ALLOW_RECRUIT_PLAYER (Skeleton,Skeleton Archer,Ghost,Dark Adept,Ghoul) (_ "Skeleton", _ "Skeleton Archer", _ "Ghost", _ "Dark Adept", _ "Ghoul")}

	{ALLOW_EXTRA_RECRUIT 60 (Skeleton) (_ "Skeleton")}
	{ALLOW_EXTRA_RECRUIT 60 (Skeleton Archer) (_ "Skeleton Archer")}
	{ALLOW_EXTRA_RECRUIT 50 (Ghost) (_ "Ghost")}
	{ALLOW_EXTRA_RECRUIT 50 (Ghoul) (_ "Ghoul")}
	{ALLOW_EXTRA_RECRUIT 30 (Dark Adept) (_ "Dark Adept")}

	{ALLOW_EXTRA_RECRUIT 30 (Chocobone) (_ "Chocobone")}
	{ALLOW_EXTRA_RECRUIT 40 (Wraith) (_ "Wraith")}
	{ALLOW_EXTRA_RECRUIT 40 (Shadow) (_ "Shadow")}
	{ALLOW_EXTRA_RECRUIT 80 (Revenant) (_ "Revenant")}
	{ALLOW_EXTRA_RECRUIT 80 (Bone Shooter) (_ "Bone Shooter")}
	{ALLOW_EXTRA_RECRUIT 60 (Necrophage) (_ "Necrophage")}
	{ALLOW_EXTRA_RECRUIT 80 (Spectre) (_ "Spectre")}
	{ALLOW_EXTRA_RECRUIT 50 (Necromancer) (_ "Necromancer")}
	{ALLOW_EXTRA_RECRUIT 80 (Nightgaunt) (_ "Nightgaunt")}
	{ALLOW_EXTRA_RECRUIT 20 (Lich) (_ "Lich")}
	{ALLOW_EXTRA_RECRUIT 10 (Skeletal Dragon) (_ "Skeletal Dragon")}
	{ALLOW_EXTRA_RECRUIT 50 (Draug) (_ "Draug")}

	{FACTION_PLAYER_LEADER (Skeleton)}
	{FACTION_RANDOM_LEADER (Dark Sorcerer,Revenant,Deathblade,Bone Shooter,Necrophage,Spectre) (Necromancer,Draug,Banebow,Ghast,Death Knight,Ancient Lich)}
# wmlindent: stop ignoring
{END}
